	/* USE LESS OR SASS, progressive enhancement or graceful degredation. */
	body {
	font-family:"Droid Sans",Tahoma,sans-serif;
	/*background-color:#333;*/
	color:white;
	height:100%;
	background-image:url('../img/pw_maze_black.png');
	}
	html {
	height:100%;
	}
	* {
	box-clipping:border-box;
	}
	#sidebar.span12 {
	padding:0;
	margin:0;
	/*position:absolute;*/
	}
	#sidebar {
	position:fixed;
	margin:0;
	box-shadow:0 0 10px #000;
	height:100%;
	background-image:url('../img/stressed_linen.png');
	-webkit-transition:width 1s ease-in-out;
	}
	.icon-nav {
	border-left:3px solid #ccc;
	
	padding-left:8px;
	padding-right:8px;
	border-radius:15px;
	
	/*box-shadow: inset -15px 0 15px -15px #ccc,inset 15px 0 15px -15px #ccc;*/
	}
	.icon-nav:hover {
	border-color:purple;
	}
	.icon-nav > h1 {
	border-bottom:solid 1px #888;
	font-size:37px;
	
	}
	.carousel-inner img {
		margin:auto;
	}
	.icon-nav > h1:last-child {
	border-bottom:none;
	}
	.icon-nav > h1 > i:hover{
	color:purple;
	}
	#expand {
	position:absolute;top:50%;height:100px;width:30px;font-size:40px;padding-top:80px;border-radius:0px;margin-top:-93px;
	background-image:none;
	border:1px solid #333;
	box-shadow:none;
	background-color:#000;
	
	}
	.engage{
	right:-20px;
	}
	.engage::before,.disengage::before{
	color:#999;
	}
	.engage::before{
	content:'►';
	}
	.disengage {
	right:0px;
	}
	.disengage::before {
	content:'◄';
	}
	.span4 {
	position:relative;
	}
	a {
	color:rgb(27, 151, 221)
	}
	a:hover {
	color:rgb(0, 130, 200)
	}
	[class^="icon-"] {
	-webkit-transition:all 0.5s;
	}
	/*[class^="icon-"]:hover {
	color:purple;
	}*/
	/*h3:hover {
	color:steelblue;
	}*/